
# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Python packages
*.egg
*.egg-info
dist/
build/

# IDE files
.vscode/
.pydev/
.ipynb_checkpoints
.idea/

# Logs
*.log

# Virtual environments
venv/
env/

# Node modules (if using JavaScript)
node_modules/

# Data files (e.g., CSV, JSON)
data/

# Miscellaneous
.DS_Store
Thumbs.db
